@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 1.125rem;
  position: relative;
}

main {
  max-width: 35rem;
  margin-inline: auto;
}

footer {
  max-width: 35rem;
  margin-inline: auto;
}

@media (min-width: 58.75rem) {
  main {
    max-width: 100%;
  }
  footer {
    max-width: 100%;
  }
}
